h3 {
  padding: 20px;
}

.form {
  background-color: #03899c;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 90vh;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 54px;
  background: #36bbce;
  box-shadow: 5px 5px 0px #32acbe, -5px -5px 0px #3acade;
  width: 100%;
  padding: 50px;
}

.form-field {
  padding: 10px;
}
