.nav-bar {
  width: 100%;
  height: 10vh;
  padding: 15px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #36bbce;
  color: black;
  border-bottom: 1px inset;
}

.input-busca {
  width: 100%;
  padding: 10px 0px 10px 30px;
  border: 1px solid lightcoral;
  background: #f1f1f1;
  outline: none;
  border-radius: 4px;
}
